*, *:before, *:after {
  box-sizing: border-box;
  background:#004687;
}

a {
  text-decoration:none;
  color:#FA8B60;
}

.pagetitle {
  text-align:center;
  font-family:Oswald;
  color:#93B1C6;
}

.posttitle {
  color:white;
}
